<ul>
<li> <a routerLink="/interpolacion">Interpolacion</a></li>
<li> <a routerLink="/onewaybinding">One way binding</a></li>
<li> <a routerLink="/evento">Evento</a></li>
<li><a routerLink="/twowaybinding" >Two way binding</a></li>
<li> <a routerLink="/servicio">Servicio</a></li>
<li ><a routerLink="/directivas">Directivas</a></li>
<li> <a routerLink="/pasoUnParametro">Paso 1 parámetro</a></li>
<li> <a routerLink="/pasoDosParametros">Paso 2 parámetros</a></li>
<li> <a routerLink="/padre_hijo">Padre - Hijo</a></li>
<li> <a routerLink="/hijo_padre">Hijo - Padre</a></li>
</ul>
<router-outlet></router-outlet>
